.contentBlock {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f938ab;
}
.contentBlock h2 {
  width: 66.66666667%;
}
.container {
  width: 700px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  background-color: black;
}
/* 
#movieImg{

    width:300;
    max-height:380;

} */
.starRating .filledStar {
  color: black;
}
.starRating span {
  color: white;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
}
